<%= render "shared/navbar" %>

<div class="container-fluid">

<div class="masthead">
      <h3 class="text-muted">Your Week at GA</h3>   
</div>

<center>
<%= form_for @week do |f| %>

    <h2> This week </h2>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>


    <div>
    <%= f.label :date %>
    <%= f.text_field :date%>
    </div>

    <div>
    <%= f.label :message %>
    <%= f.text_area :message%>
    </div>

    <div>
    <%= f.label :this_week %>
    <%= f.text_area :this_week%>
    </div>

    <div>
    <%= f.label :next_week %>
    <%= f.text_area :next_week%>
    </div>

    <div>
    <%= f.label :office_hours %>
    <%= f.text_area :office_hours %>
    </div>

    <%= f.submit "Add Week" %>

<% end %>

</center>