<div class="container-fluid">

  <div class="masthead">
      <h3 class="text-muted">Your Week at GA</h3>   

  </div>

     <div class="jumbotron home-style">
        <h1> <%= @week.name %> 
        <span> <%= link_to("Edit Week", edit_week_path, {class:"btn btn-primary"}) %></span>
        <span> <%= link_to("Delete Week", week_path, {method: :delete, data: "Are you sure?", class:"btn btn-primary"}) %></span>
        </h1>
         <p class="lead" id="lead-css"><%= @week.message %> </p>
    </div> 
</div>

<div class="container">

    <div class="row" id="row-css">
            <div class="col-lg-6" id="this-week">
            <h2>This Week</h2>
              <p>  <%= @week.this_week %> </p>
            </div>

            <div class="col-lg-6" id="next-week">
              <h2>Next Week</h2>
               <p> <%= @week.next_week%></p>
           </div>
    </div>

    <div class="row">
            <div class="col-lg-4" id="office-hour">
              <h2>Office Hour</h2>
                <p><%= @week.office_hours %></p>
            </div>

              <div class="col-lg-4" id="resources">
              <h2>Resources</h2>
              <% @week.resources.each do |resource| %>
                <%= resource.name %>
              <% end %>
              <br>
              <br>
              <%= link_to("Add a resource", new_week_resource_path, {class: "btn btn-primary"}) %>
            
            </div>

              <div class="col-lg-4" id="events">
              <h2>Events</h2>
              
              <% @week.events.each do |event| %>
              <div>
                <%= link_to(event.name, event_path) %> |
                <%= event.date %> | 
                <%= event.time %>
             
              </div>
              <% end %>
      
              <br>
              <br>

                  <%= link_to("New Event", new_week_event_path, {class: "btn btn-primary"}) %>
                  <%= link_to("See all Events", events_path, {class: "btn btn-primary"}) %>
                <br>
                <br>
            </div>
    </div>
</div>







