<br>
<br>
<br>

<div class="all-users-container">
<% @users.each do |user| %>
    <div class="user-box">

        <center>
        <%= user.name %>
          </center>
       <br>
        Email:  <br>
        <%= user.email %> <br><br>
        Email:  <br>
        <%= user.email %> <br><br>
        Email:  <br>
        <%= user.email %> <br><br>
        Email: <br> 
        <%= user.email %>


    </div> <!-- end of user-box class -->
    <br>
<% end %>
</div> <!-- end of all-users-container -->