<div class="container-fluid">

<div class="masthead">
      <h3 class="text-muted">Your Week at GA</h3>   

</div>

<%= @event.name %> <br>
<%= @event.date%> <br>
<%= @event.time %> <br>
<%= @event.location %> <br>

<br>
<%= link_to("Edit Event", edit_event_path, {class: "btn btn-primary"})%>
<%= link_to("Delete Event", event_path, {method: :delete, data: "Are you sure?", class: "btn btn-primary"})%>
</div>