<div class="container-fluid">

<div class="masthead">
      <h3 class="text-muted">Resource</h3>   
</div>

<center>
<%= form_for @resource do |f| %>

    <h2> Resource </h2>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>


    <div>
    <%= f.label :url %>
    <%= f.text_field :url%>
    </div>

    <div>
    <%= f.label :category %>
    <%= f.text_field :category%>
    </div>

    <%= f.submit "Add Week" %>

<% end %>

</center>