<!DOCTYPE html>
<html>
<head>
  <title>MyWeekAtGa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Week at GA</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="active">
                <li><%= link_to "Weeks", weeks_path %> </li>
                <li><%= link_to "Events", events_path %> </li>
                <li><%= link_to "Resources", resources_path %> </li>
          <!-- begin login/logout links -->
                  <% if logged_in? %>
                  <li> Welcome, <%= current_user.name %>! </li><li><%= link_to 'Log Out', logout_path, method: :delete %></li>
                <% else %>
                   <li> <%= link_to 'Log In', login_path %> </li> <li><%= link_to 'Sign up', signup_path %></li>
                <% end %>
            </li>
          <!-- end login/logout links -->
          </ul>
        </div><!--/ end of nav bar -->
      </div> <!-- end of container -->
    </nav> <!-- end of nav class -->

<%= yield %>

</body>
</html>
